extends ../layout

block content
  #wrapper
      nav.navbar.navbar-default.navbar-cls-top(role='navigation', style='margin-bottom: 0')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.sidebar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') WORK MO TO!
        .header-right
         
              p Welcome #{user.username} ::
                a(href="/auth/logout")  logout
              
           
      // /. NAV TOP
      nav.navbar-default.navbar-side(role='navigation')
        .sidebar-collapse
          ul#main-menu.nav
            li
              a(href='/')
                i.fa.fa-dashboard
                | Dashboard
            li
              a.active-menu-top(href='#')
                i.fa.fa-yelp
                | Pages 
                span.fa.arrow
              ul.nav.nav-second-level.collapse.in
                li
                  a.active-menu(href='/blobs/')
                    i.fa.fa-coffee
                    | Data Table
                li
                  a(href='/blobs/new')
                    i.fa.fa-flash
                    | Add Data
      // /. NAV SIDE
      #page-wrapper
        #page-inner
          .row
            .col-md-12
              h1.page-head-line Data Table
              h1.page-subhead-line
              .search
                .col-md-6
                
                  h1 Total Number of Workouts: 
                    span#totalCount
                .col-md-3
                .col-md-3  
                  form(method= 'post', action= '../blobs/', onsubmit= 'getSearch()')
                    .input-field
                      input#search(type='search', placeholder="search tutorial")
                      label.label-icon(for= 'search')
                      i.fa.fa-search.small
          .row
            .col-md-12
              .main-box.mb-dull
                .table-responsive
                  table.table.table-striped.table-bordered.table-hover#result
                    thead
                      tr
                        th Workout Name
                        th Main Muscle
                        th Detailed Muscle
                        th Other Muscle
                        th Type
                        th Mechanics
                        th Equipment
                        th Difficulty
                        th Date Created
                        th Edit
                        th Remove
                    tbody#table-body
                      
          
          // /. ROW
        // /. PAGE INNER
      // /. PAGE WRAPPER
    // /. WRAPPER

  

 
  

 