extends layout

block content
    .container
        br
        br
        .main-box.mb-bluegreen
            .row 
                br
                br
                br
     
                .col-md-4
                .col-md-4
                    h1 Please login
                    form(role="form", action="/auth/login", method="post")
                        .form-group
                            label(for="username") Username 
                            input#username.form-control(name="username", type="text")
                        .form-group
                            label(for="password") Password
                            input#password.form-control(name="password", type="password")
                        p
                            a.btn.btn-link(href="/") Cancel
                            button.btn.btn-default(type="submit", value="Log In") Log input
                .row
                .col-md-3
                .col-md-6
                    br
                    br
                    br
                    h1 No Account? Just 
                      a(href="/auth/register") register 
                      | here.
